@tailwind base;
@tailwind components;
@tailwind utilities;

section.hero {
    @apply grid;
    grid-template-columns: .4fr .6fr;
}

.card {
    width: 550px;
    height: 150px;
    margin: 50px auto;
}